/* variables */

$poppins: "Poppins",
sans-serif;
$nunito: "Nunito",
sans-serif;
$mq7b: "screen and (max-width: 767px)";
html,
body {
    color: white;
    height: 100%;
    margin: 0;
    // overflow: hidden;
    .mosphism-ui {
        background: rgb(200, 231, 220);
        height: 100vh;
        position: relative;
        margin-bottom: 10px;
        img {
            height: 100%;
            z-index: -2;
            @media #{$mq7b} {
                width: 100%;
            }
        }
        .glass {
            position: absolute;
            top: 50%;
            background: rgba(255, 255, 255, 0.2);
            padding: 2em;
            border-radius: 3em;
            z-index: 1;
            backdrop-filter: blur(40px);
            border: solid 2px transparent;
            background-clip: padding-box;
            box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
            margin-top: -140px;
            left: 20%;
            @media #{$mq7b} {
                left: 10px;
                right: 10px;
            }
            h2 {
                font: 1.4em $poppins;
                margin: 0;
                color: #000;
                font-weight: 600;
            }
            p {
                margin: 0;
                color: #000;
            }
        }
        h1 {
            position: absolute;
            top: 50%;
            left: 20%;
            font: 40px $poppins;
            font-weight: 600;
            color: #000;
            clip-path: inset(0 0 0 0);
            @media #{$mq7b} {
                left: 0;
                right: 0;
                text-align: center;
            }
        }
    }
    .animate-section {
        background: #343434;
        position: relative;
        height: 100vh;
        width: 100%;
        svg {
            position: absolute;
            width: 100%;
            top: 0%;
            height: 100%;
            @media only screen and (max-width: 991px) {
                top: 0;
                height: 100%;
            }
            @media only screen and (max-width: 767px) {
                top: 0;
                height: unset;
            }
        }
        .content {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 50px;
            justify-content: center;
            z-index: 100;
            position: relative;
            @media only screen and (max-width: 767px) {
                width: 100%;
                padding-left: 20px;
            }
            h1 {
                font: 2.4em $nunito;
                line-height: 50px;
                @media only screen and (max-width: 991px) {
                    font-size: 1.8em;
                    line-height: 40px;
                }
                @media only screen and (max-width: 767px) {
                    font-size: 1.5em;
                    line-height: 40px;
                }
            }
            .quote-container {
                display: flex;
                width: 100%;
                place-content: unset;
                .avatar {
                    width: 25px;
                    height: 25px;
                    background: gray;
                    border-radius: 50%;
                }
                p {
                    margin: 0.3em 0.5em;
                    font: 0.9em $nunito;
                }
            }
            .cta {
                margin-top: 2em;
                width: 30%;
                display: inline-block;
                background: #00e472;
                color: black;
                text-decoration: none;
                padding: 0.5em 1em;
                border-radius: 0.2em;
                font-weight: bold;
                @media only screen and (max-width: 991px) {
                    width: 50%;
                }
            }
        }
    }
}